* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  margin: 0;
}
h3 {
  font-size: 16px;

}
p {
font-size: 16px;
}
.search-form{
  padding: 15px;
  padding-left: 38%;

  background-color:rgb(54, 88, 240);


}

.list {
display: flex;
justify-content: space-around;
gap: 30px;
flex-wrap: wrap;

}
.photo-card {
  width: 350px;
  display: flex;
  flex-direction: column;
  
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 24px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.photo-card:hover,
.photo-card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 10px;

}
.info-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  
}
.wrap {
  width: 350px;
  object-fit: cover;
}
.link {
object-fit: cover;

}

.img-item {
  width: 350px;
  height: 234px;
  object-fit: cover;
}

.load-more {
  margin-top: 25px;
  margin-left: 42%;
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(54, 88, 240);
  border-color: transparent;
  
}

.load-more:hover {
  background-color: rgb(54, 88, 200) ;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
